{% extends 'admin/master.html' %}
{% import 'admin/lib.html' as lib with context %}
{% from 'admin/lib.html' import extra with context %} {# backward compatible #}

{% block head %}
  {{ super() }}
  {{ lib.form_css() }}
{% endblock %}

{% block body %}
  {% block create_form %}
        <form method="POST" action="">
            {{ form.hidden_tag() if form.hidden_tag }}
            <div>
            <table>
             <tr><td>{{form.old_password.label}}</td><td>{{form.old_password}}</td></tr>
                <tr><td>{{form.password.label}}</td><td>{{form.password}}</td></tr>
                <tr><td>{{form.password2.label}}</td><td>{{form.password2}}</td></tr>
            </table>
            </div>
            <hr>
            <div>{{form.submit}}</div>
        </form>
        {{ link | safe }}
  {% endblock %}
{% endblock %}

{% block tail %}
  {{ super() }}
  {{ lib.form_js() }}
{% endblock %}
