{% extends 'admin/master.html' %}
{% import 'admin/lib.html' as lib with context %}
{% from 'admin/lib.html' import extra with context %} {# backward compatible #}

{% block head %}
  {{ super() }}
  {{ lib.form_css() }}
{% endblock %}

{% block body %}
  {% block navlinks %}
  <ul class="nav nav-tabs">
    <li>
        <a href="{{ return_url }}">{{ _gettext('List') }}</a>
    </li>
    <li class="active">
        <a href="javascript:void(0)">{{ _gettext('Create') }}</a>
    </li>
  </ul>
  {% endblock %}
  {% block create_form %}
  <form method="POST" action="">
            {{ form.hidden_tag() if form.hidden_tag }}
      <div style="font-size:14px">
        <div style="text-align:left"><table border="0" cellspacing="0" cellpadding="0"><tr>
            <td nowrap="nowrap">ID号</td><td>{{form.id_no(style="height:14px;width:200px")}}</td>
            <td nowrap="nowrap">科室</td><td>{{form.department(style="height:14px;width:150px")}}</td>
            <td nowrap="nowrap">床号</td><td>{{form.bed_no(style="height:14px;width:50px")}}</td>
            <td nowrap="nowrap">住院号</td><td>{{form.hospital_no(style="height:14px;width:100px")}}</td>
            <td nowrap="nowrap">病历号</td><td>{{form.record_no(style="height:14px;width:100px")}}</td>
        </tr></table></div>
        <div style="text-align:left"><table border="0" cellspacing="0" cellpadding="0"><tr>
            <td nowrap="nowrap">孕妇姓名</td><td>{{form.wife_name(style="height:14px;width:80px")}}</td>
            <td nowrap="nowrap">出生</td><td>{{form.wife_birthday_year(style="height:14px;width:40px")}}</td><td>年</td>
            <td nowrap="nowrap">{{form.wife_birthday_month(style="height:14px;width:20px")}}</td><td>月</td>
            <td nowrap="nowrap">年龄</td><td>{{form.wife_age(style="height:14px;width:30px")}}</td>
            <td nowrap="nowrap">籍贯</td><td>{{form.wife_origin(style="height:14px;width:100px")}}</td>
            <td nowrap="nowrap">民族</td><td>{{form.wife_nation(style="height:14px;width:60px")}}</td>
            <td nowrap="nowrap">职业</td><td>{{form.wife_profession(style="height:14px;width:100px")}}</td>
            <td nowrap="nowrap">手机</td><td>{{form.wife_phone(style="height:14px;width:100px")}}</td>
        </tr>
        <tr>
            <td nowrap="nowrap">丈夫姓名</td><td>{{form.husband_name(style="height:14px;width:80px")}}</td>
            <td nowrap="nowrap">出生</td><td>{{form.husband_birthday_year(style="height:14px;width:40px")}}</td><td>年</td>
            <td nowrap="nowrap">{{form.husband_birthday_month(style="height:14px;width:20px")}}</td><td>月</td>
            <td nowrap="nowrap">年龄</td><td>{{form.husband_age(style="height:14px;width:30px")}}</td>
            <td nowrap="nowrap">籍贯</td><td>{{form.husband_origin(style="height:14px;width:100px")}}</td>
            <td nowrap="nowrap">民族</td><td>{{form.husband_nation(style="height:14px;width:60px")}}</td>
            <td nowrap="nowrap">职业</td><td>{{form.husband_profession(style="height:14px;width:100px")}}</td>
            <td nowrap="nowrap">手机</td><td>{{form.husband_phone(style="height:14px;width:100px")}}</td>
        </tr></table></div>
        <div style="text-align:left"><table border="0" cellspacing="0" cellpadding="0"><tr>
            <td nowrap="nowrap">通讯地址</td><td>{{form.communication_address(style="height:14px;width:480px")}}</td>
            <td nowrap="nowrap">住宅电话</td><td>{{form.residential_telephone(style="height:14px;width:100px")}}</td>
            <td nowrap="nowrap">PAPPA</td><td>{{form.pappa_miu_ml(style="height:14px;width:30px")}}</td><td>mIu</td>
            <td>{{form.pappa_mo(style="height:14px;width:30px")}}</td><td>Mo</td>
           </tr></table></div>
        <div style="text-align:left"><table border="0" cellspacing="0" cellpadding="0"><tr>
            <td nowrap="nowrap">转诊</td><td>{{form.referral_status(style="height:14px;width:57px")}}</td>
            <td nowrap="nowrap">转诊医院</td><td>{{form.referral_hospital(style="height:14px;width:200px")}}</td>
            <td nowrap="nowrap">孕周</td><td>{{form.pregnancy_week(style="height:14px;width:20px")}}</td><td>周</td>
            <td>{{form.pregnancy_day(style="height:14px;width:20px")}}</td><td>天 &nbsp</td>
            <td nowrap="nowrap">早孕β-HCG</td>
            <td>{{form.early_pregnancy_b_hcg_ng_l(style="height:14px;width:30px")}}</td><td>ng/ml</td>
            <td>{{form.early_pregnancy_b_hcg_mo(style="height:14px;width:30px")}}</td><td>Mo &nbsp</td>
            <td nowrap="nowrap">β-HCG</td><td>{{form.b_hcg_od(style="height:14px;width:30px")}}</td><td>gn/ml</td>
            <td>{{form.b_hcg_mo(style="height:14px;width:30px")}}</td><td>Mo</td>
        </tr></table></div>
        <div style="text-align:left"><table border="0" cellspacing="0" cellpadding="0"><tr>
            <td nowrap="nowrap">双方地贫</td><td>{{form.ifpoverty(style="height:14px;width:30px")}}</td>
            <td nowrap="nowrap">筛查日期</td><td>{{form.screen_date(style="height:14px;width:100px")}} &nbsp&nbsp</td>
            <td nowrap="nowrap">AFP</td><td>{{form.afp_od(style="height:14px;width:30px")}}</td><td>u/ml</td>
            <td>{{form.afp_mo(style="height:14px;width:30px")}}</td><td>Mo &nbsp</td>
            <td nowrap="nowrap">E3</td><td>{{form.e3_nmol_1(style="height:14px;width:30px")}}</td><td>nmol/l</td>
            <td>{{form.e3_mo(style="height:14px;width:30px")}}</td><td>Mo</td>
          </tr></table></div>
        <div style="text-align:left"><table border="0" cellspacing="0" cellpadding="0"><tr>
            <td nowrap="nowrap">21三体风险:</td><td nowrap="nowrap">1/</td><td>{{form.tribody_risk_21(style="height:14px;width:80px")}}</td>
            <td nowrap="nowrap">18三体风险:</td><td nowrap="nowrap">1/</td><td>{{form.tribody_risk_18(style="height:14px;width:80px")}}</td>
            <td nowrap="nowrap">13三体风险:</td><td nowrap="nowrap">1/</td><td>{{form.tribody_risk_13(style="height:14px;width:80px")}}</td>
            <td nowrap="nowrap">ONTD风险:</td><td nowrap="nowrap">1/</td><td>{{form.ontd_risk(style="height:14px;width:100px")}}</td>
        </tr></table></div>
        <div style="text-align:left"><table border="0" cellspacing="0" cellpadding="0">
            <tr>
                <td></td>
                <td nowrap="nowrap">日期</td>
                <td nowrap="nowrap">医院</td>
                <td nowrap="nowrap">地贫基因检测</td>
                <td>WBC</td><td>MCV</td><td>MCH</td><td>Hb</td><td>BG</td><td>RH</td>
                <td nowrap="nowrap"> </td>
                <td nowrap="nowrap">Hb电泳%</td>
                <td nowrap="nowrap">其他</td>
            </tr>
            <tr>
            <td nowrap="nowrap"  width="30px">孕妇</td>
            <td>{{form.check_date(style="height:14px;width:100px")}}</td>
            <td>{{form.check_hospital(style="height:14px;width:180px")}}</td>
            <td>{{form.gene_detection_poverty(style="height:14px;width:100px")}}</td>
            <td>{{form.wbc(style="height:14px;width:30px")}}</td>
            <td>{{form.mcv(style="height:14px;width:30px")}}</td>
            <td>{{form.mch(style="height:14px;width:30px")}}</td>
            <td>{{form.hb(style="height:14px;width:30px")}}</td>
            <td>{{form.bg(style="height:14px;width:30px")}}</td>
            <td>{{form.rh(style="height:14px;width:30px")}}</td>
            <td nowrap="nowrap">&nbspA2</td>
            <td>{{form.hb_elect_a2(style="height:14px;width:80px")}}</td>
            <td>{{form.hb_elect_other(style="height:14px;width:40px")}}</td></tr>
        <tr>
            <td nowrap="nowrap">丈夫</td>
            <td>{{form.husband_check_date(style="height:14px;width:100px")}}</td>
            <td>{{form.husband_check_hospital(style="height:14px;width:180px")}}</td>
            <td>{{form.husband_gene_detection_poverty(style="height:14px;width:100px")}}</td>
            <td>{{form.husband_wbc(style="height:14px;width:30px")}}</td>
            <td>{{form.husband_mcv(style="height:14px;width:30px")}}</td>
            <td>{{form.husband_mch(style="height:14px;width:30px")}}</td>
            <td>{{form.husband_hb(style="height:14px;width:30px")}}</td>
            <td>{{form.husband_bg(style="height:14px;width:30px")}}</td>
            <td>{{form.husband_rh(style="height:14px;width:30px")}}</td>
            <td nowrap="nowrap">&nbspA2</td>
            <td>{{form.husband_hb_elect_a2(style="height:14px;width:80px")}}</td>
            <td>{{form.husband_hb_elect_other(style="height:14px;width:40px")}}</td>
        </tr></table></div>
        <div style="text-align:left"><table border="0" cellspacing="0" cellpadding="0"><tr>
            <td nowrap="nowrap">日期</td>
            <td nowrap="nowrap">检查医院</td>
            <td nowrap="nowrap">停经</td>
            <td></td>
            <td nowrap="nowrap"> </td>
            <td></td>
            <td nowrap="nowrap">孕周</td>
            <td></td>
            <td nowrap="nowrap"> </td>
            <td></td>
            <td nowrap="nowrap">BPD</td>
            <td nowrap="nowrap">头围</td>
            <td nowrap="nowrap">腹围</td>
            <td nowrap="nowrap">股骨</td>
            <td nowrap="nowrap">肱骨</td>
            <td nowrap="nowrap">羊水指数</td>
            <td nowrap="nowrap">羊水暗区</td>
            <td nowrap="nowrap">A/B</td>
            <td nowrap="nowrap">胎盘厚</td>
            <td nowrap="nowrap">位置</td>
            <td nowrap="nowrap">NF</td>
            <td nowrap="nowrap">鼻骨</td>
            <td nowrap="nowrap">心胸比</td>
        </tr>
        <tr>
            <td>{{form.b_check_date(style="height:14px;width:75px")}}</td>
            <td>{{form.b_check_hospital(style="height:14px;width:100px")}}</td>
            <td>{{form.menolipsis_week(style="height:14px;width:15px")}}</td><td>周</td>
            <td>{{form.menolipsis_day(style="height:14px;width:15px")}}</td><td>天</td>
            <td>{{form.b_pregnancy_week(style="height:14px;width:15px")}}</td><td>周</td>
            <td>{{form.b_pregnancy_day(style="height:14px;width:15px")}}</td><td>天</td>
            <td>{{form.bpd(style="height:14px;width:20px")}}</td>
            <td>{{form.head_circumference(style="height:14px;width:20px")}}</td>
            <td>{{form.ventral_circumference(style="height:14px;width:20px")}}</td>
            <td>{{form.femur(style="height:14px;width:20px")}}</td>
            <td>{{form.humerus(style="height:14px;width:20px")}}</td>
            <td>{{form.fi(style="height:14px;width:50px")}}</td>
            <td>{{form.av(style="height:14px;width:50px")}}</td>
            <td>{{form.a_b(style="height:14px;width:20px")}}</td>
            <td>{{form.placenta_thickness(style="height:14px;width:30px")}}</td>
            <td>{{form.placenta_position(style="height:14px;width:20px")}}</td>
            <td>{{form.nf(style="height:14px;width:20px")}}</td>
            <td>{{form.nasal_bone(style="height:14px;width:20px")}}</td>
            <td>{{form.ctr(style="height:14px;width:30px")}}</td>
        </tr></table></div>

        <div style="text-align:left"><table border="0" cellspacing="0" cellpadding="0"><tr>
            <td nowrap="nowrap">B超描述</td><td>{{form.b_check_description(style="height:14px;width:800px")}}</td>
        </tr></table></div>
        <div style="text-align:left"><table border="0" cellspacing="0" cellpadding="0"><tr>
            <td nowrap="nowrap">病史:</td><td>LMP</td><td>{{form.lmp(style="height:14px;width:100px")}}</td>
            <td  nowrap="nowrap">(纠正后) &nbsp&nbsp&nbsp</td>
            <td nowrap="nowrap">孕早期</td><td>({{form.early_pregnancy(style="height:14px;width:560px")}})</td>
        </tr></table></div>
        <div style="text-align:left"><table border="0" cellspacing="0" cellpadding="0"><tr>
            <td nowrap="nowrap">异常描述</td><td>{{form.exception_description(style="height:14px;width:800px")}}</td>
        </tr></table></div>
        <div style="text-align:left"><table border="0" cellspacing="0" cellpadding="0"><tr>
             <td nowrap="nowrap">传染病等检查</td>
             <td>{{form.infection_check(style="height:14px;width:770px")}}</td>
        </tr></table></div>
        <div style="text-align:left"><table  border="0" cellspacing="0" cellpadding="0"><tr>
            <td nowrap="nowrap" text-align="right">&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp平素月经</td>
            <td>{{form.menses_ifrule(style="height:14px;width:60px")}}</td>
            <td nowrap="nowrap">规则，</td>
            <td>{{form.menses_days(style="height:14px;width:30px")}}</td>
            <td>/</td>
            <td>{{form.menses_cycle(style="height:14px;width:30px")}}</td>
            <td nowrap="nowrap">。G</td>
            <td>{{form.g(style="height:14px;width:30px")}}</td>
            <td>P</td>
            <td nowrap="nowrap">{{form.p(style="height:14px;width:30px")}}。</td>
            <td rowspan="2">{{form.maternity_history(style="height:40px;width:410px")}}</td>
        </tr>
        <tr>
            <td nowrap="nowrap" text-align="right">过去史、家族史</td>
            <td colspan="7">{{form.past_family_history(style="height:14px;width:265px")}}</td>
            <td nowrap="nowrap" colspan="2" text-align="right">&nbsp&nbsp&nbsp&nbsp孕产史:</td>
            <td ></td>
        </tr></table></div>
        <div style="text-align:left"><table border="0" cellspacing="0" cellpadding="0"><tr>
            <td nowrap="nowrap">诊断：</td>
            <td nowrap="nowrap">1.G</td>
            <td>{{form.diagnosis1_g(style="height:14px;width:30px")}}</td>
            <td>P</td>
            <td>{{form.diagnosis1_p(style="height:14px;width:30px")}}</td>
            <td>G</td>
            <td>{{form.diagnosis1_pregnancy_week(style="height:14px;width:30px")}}</td>
            <td>周</td>
            <td>{{form.diagnosis1_pregnancy_day(style="height:14px;width:30px")}}</td>
            <td>天</td>
             <td nowrap="nowrap" colspan="5">&nbsp 2.{{form.diagnosis2(style="height:14px;width:545px")}}</td>
        </tr>
            <tr>
            <td colspan="10"></td>
             <td>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                 &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                 &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                 &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                 &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</td>
            <td nowrap="nowrap">医生</td>
            <td>{{form.diagnostic_doctor(style="height:14px;width:100px")}}</td>
            <td nowrap="nowrap">诊断日期</td>
            <td>{{form.diagnostic_date(style="height:14px;width:100px")}}</td>
        </tr></table></div>
        <div style="text-align:left"><table border="0" cellspacing="0" cellpadding="0"><tr>
            <td nowrap="nowrap">体温</td>
            <td>{{form.temperature(style="height:14px;width:30px")}}</td>
            <td nowrap="nowrap">℃ &nbsp</td>
            <td nowrap="nowrap">血压</td>
            <td>{{form.blood_pressure_systolic(style="height:14px;width:30px")}}</td>
            <td>/</td>
            <td>{{form.blood_pressure_diastolic(style="height:14px;width:30px")}}</td>
            <td nowrap="nowrap">mmHg  &nbsp</td>
            <td nowrap="nowrap">脉搏</td>
            <td>{{form.pulse(style="height:14px;width:30px")}}</td>
            <td nowrap="nowrap">次每分  &nbsp</td>
            <td nowrap="nowrap">手术孕周</td>
            <td>{{form.operation_pregnancy_week(style="height:14px;width:20px")}}</td>
            <td>周</td>
            <td>{{form.operation_pregnancy_day(style="height:14px;width:20px")}}</td>
            <td>天  &nbsp</td>
            <td nowrap="nowrap">拟手术日期</td>
            <td>{{form.plan_operation_date(style="height:14px;width:100px")}}</td>
        </tr></table></div>
        <div style="text-align:left"><table border="0" cellspacing="0" cellpadding="0"><tr>
            <td nowrap="nowrap">羊膜腔穿刺术记录: &nbsp&nbsp&nbsp&nbsp</td>
            <td nowrap="nowrap">雷注引产术<td>{{form.ray_injection_induction(style="height:14px;width:100px")}}</td>
            <td nowrap="nowrap">&nbsp&nbsp&nbsp&nbsp 宫内治疗<td>{{form.intrauterine_treatment(style="height:14px;width:100px")}}</td>
            <td nowrap="nowrap">&nbsp&nbsp&nbsp&nbsp 录入人<td>{{form.entry_person(style="height:14px;width:100px")}}</td>
        </tr></table></div>
        <div style="text-align:left"><table border="0" cellspacing="0" cellpadding="0"><tr>
            <td nowrap="nowrap">日期</td>
            <td nowrap="nowrap">次数</td>
            <td nowrap="nowrap">胎盘位置</td>
            <td nowrap="nowrap">经否胎盘</td>
            <td nowrap="nowrap">胎盘出血s</td>
            <td nowrap="nowrap">手术时间m</td>
           <td nowrap="nowrap">抽羊水量</td>
            <td nowrap="nowrap">羊水性质</td>
            <td nowrap="nowrap">术前胎心率</td>
            <td nowrap="nowrap">/</td>
            <td nowrap="nowrap">术后胎心率</td>
            <td nowrap="nowrap">操作者</td>
        </tr>
        <tr>
            <td>{{form.operation_date(style="height:14px;width:80px")}}</td>
            <td>{{form.times(style="height:14px;width:20px")}}</td>
            <td>{{form.surgical_placenta_location(style="height:14px;width:60px")}}</td>
            <td>{{form.through_the_placenta(style="height:14px;width:60px")}}</td>
            <td>{{form.placental_hemorrhage(style="height:14px;width:60px")}}</td>
            <td>{{form.operation_time(style="height:14px;width:60px")}}</td>
            <td>{{form.extraction_sheep_water(style="height:14px;width:60px")}}</td>
            <td>{{form.amniotic_fluid_properties(style="height:14px;width:60px")}}</td>
            <td>{{form.preoperative_heart_rate(style="height:14px;width:60px")}}</td>
            <td>/</td>
            <td>{{form.postoperative_heart_rate(style="height:14px;width:60px")}}</td>
            <td>{{form.operator(style="height:14px;width:100px")}}</td>
        </tr></table></div>
        <div style="text-align:left"><table border="0" cellspacing="0" cellpadding="0"><tr>
            <td nowrap="nowrap">特殊记录</td>
            <td>{{form.special_records(style="height:14px;width:630px")}}</td>
            <td nowrap="nowrap">送检人</td>
            <td>{{form.sending_person(style="height:14px;width:100px")}}</td>
        </td></tr></table></div>
        <div style="text-align:left"><table border="0" cellspacing="0" cellpadding="0"><tr>
            <td nowrap="nowrap" colspan="2">染色体报告日期:</td>
            <td>{{form.chromosome_reporting_date(style="height:14px;width:100px")}}</td>
            <td nowrap="nowrap">AFP</td>
            <td nowrap="nowrap">地贫基因报告日期:</td>
            <td>{{form.chromosome_reporting_date(style="height:14px;width:130px")}}</td>
            <td nowrap="nowrap">CMV、TOX-DNA</td>
            <td nowrap="nowrap">其他检查</td>
        </tr>
            <tr>
            <td>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</td>
            <td nowrap="nowrap">项目</td>
            <td>{{form.chromosome_project(style="height:14px;width:100px")}}</td>
            <td>{{form.afp_project(style="height:14px;width:100px")}}</td>
            <td colspan="2">{{form.poverty_gene_project(style="height:14px;width:250px")}}</td>
            <td>{{form.dna_project(style="height:14px;width:120px")}}</td>
            <td>{{form.other_check_project(style="height:14px;width:120px")}}</td>
        </td></tr>
            <tr>
            <td>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</td>
            <td nowrap="nowrap">结果</td>
            <td>{{form.chromosome(style="height:14px;width:100px")}}</td>
            <td>{{form.afp(style="height:14px;width:100px")}}</td>
            <td colspan="2">{{form.poverty_gene(style="height:14px;width:250px")}}</td>
            <td>{{form.cmv_tox_dna(style="height:14px;width:120px")}}</td>
            <td>{{form.other_check(style="height:14px;width:120px")}}</td>
        </td></tr></table></div>
        <div style="text-align:left"><table border="0" cellspacing="0" cellpadding="0"><tr><td>
            <td nowrap="nowrap">异常通知:</td>
            <td>{{form.exception_notification_date(style="height:14px;width:100px")}}</td>
            <td>{{form.exception_notification(style="height:14px;width:675px")}}</td>
        </td></tr></table></div>
        <div style="text-align:left"><table border="0" cellspacing="0" cellpadding="0"><tr><td>
           <td nowrap="nowrap">随访：</td>
            <td nowrap="nowrap">日期</td>
            <td>{{form.follow_up_date(style="height:14px;width:130px")}}</td>
            <td nowrap="nowrap">分娩时间</td>
            <td>{{form.delivery_time(style="height:14px;width:100px")}}</td>
            <td nowrap="nowrap">分娩方式</td>
            <td>{{form.delivery_mode(style="height:14px;width:100px")}}</td>
            <td nowrap="nowrap">备注</td>
            <td>{{form.remarks(style="height:14px;width:295px")}}</td>
        </td></tr></table></div>
        <div style="text-align:left"><table border="0" cellspacing="0" cellpadding="0"><tr><td>
            <td nowrap="nowrap">分娩医院</td>
            <td>{{form.delivery_hospital(style="height:14px;width:100px")}}</td>
            <td nowrap="nowrap">分娩孕周</td>
            <td>{{form.delivery_pregnancy_week(style="height:14px;width:30px")}}</td>
            <td nowrap="nowrap">性别</td>
            <td>{{form.sex(style="height:14px;width:30px")}}</td>
            <td nowrap="nowrap">体重</td>
            <td>{{form.weight(style="height:14px;width:30px")}}</td>
            <td>g &nbsp</td>
            <td nowrap="nowrap">身长</td>
            <td>{{form.length(style="height:14px;width:30px")}}</td>
            <td>cm &nbsp</td>
            <td nowrap="nowrap">新生儿情况</td>
            <td>{{form.neonatal_condition(style="height:14px;width:250px")}}</td>
        </td></tr></table></div>
        <div style="text-align:left"><table border="0" cellspacing="0" cellpadding="0"><tr><td>
            <td nowrap="nowrap">其他描述</td>
            <td>{{form.other_description(style="height:14px;width:600px")}}</td>
            <td nowrap="nowrap">失访</td>
            <td>{{form.loss_follow_up(style="height:14px;width:150px")}}</td>
        </tr></table></div>
    </div>
<hr>
           <div> <button class="btn" type="submit">提交</button></div>
        </form>
        {{ link | safe }}
      {# {{ lib.render_form(form, return_url, extra(), form_opts) }} #}
  {% endblock %}
{% endblock %}

{% block tail %}
  {{ super() }}
  {{ lib.form_js() }}
{% endblock %}