{% extends 'my_append.html' %}
{% block content %}


{% include 'my_amniotic_form.html' %}
<script src="{{url_for('static',filename='js/jquery-3.3.1.js')}}"></script>

<!--Get请求-->
<script>
$(document).ready(function() {
    var data={
        'id':'1',
    }
    $.ajax({
        type:'GET',
        url:'{{url_for("amniotic.test_get")}}',
        data:data,
        dataType:'json',//希望服务器返回json格式的数据
        success:function(data){
            alert(JSON.stringify(data));
            alert(data['test'])
        }
    })};
</script>

{% endblock content %}
