{% extends 'admin/master.html' %}
{% import 'admin/lib.html' as lib with context %}
{% from 'admin/lib.html' import extra with context %} {# backward compatible #}

{% block head %}
  {{ super() }}
  {{ lib.form_css() }}
{% endblock %}

{% block body %}
  {% block navlinks %}
  <ul class="nav nav-tabs">
    <li>
        <a href="{{ return_url }}">{{ _gettext('List') }}</a>
    </li>
    <li class="active">
        <a href="javascript:void(0)">{{ _gettext('Create') }}</a>
    </li>
  </ul>
  {% endblock %}

  {% block create_form %}
      <p>自定义用户创建窗</p>
        <form method="POST" action="">
            {{ form.hidden_tag() if form.hidden_tag }}
            <table>
            {% for f in form if f.type != 'CSRFTokenField' %}
                <tr><td>{{ f.label }}</td><td>{{ f }}</td></tr>
            {% if f.errors %}
            <ul>
                {% for e in f.errors %}
                <li>{{ e }}</li>
                {% endfor %}
            </ul>
            {% endif %}
            {% endfor %}
            </table>
            <button class="btn" type="submit">提交</button>
        </form>
        {{ link | safe }}
      {# {{ lib.render_form(form, return_url, extra(), form_opts) }} #}
  {% endblock %}
{% endblock %}

{% block tail %}
  {{ super() }}
  {{ lib.form_js() }}
{% endblock %}
